body {
    font-family: 'Oxygen', sans-serif;
}

/* NAVIGATION BAR */
.navbar {
    border-bottom: solid 6px rgb(248 113 113); 
    font-family: 'Oxygen', sans-serif;
    font-weight: 900;
}

#logo {
    text-transform:  capitalize;
    font-family: 'Oxygen', sans-serif;
    letter-spacing: 2.5px;
    font-weight: 800;
    }

/* .hero-img {
    background-color: #0047e6;
    background-image: url(/assets/images/Screenshot\ 2023-06-16\ at\ 23.36.03.png);
    background-size: cover;
    background-position: center;
    color: white;
    padding-top: 400px;
    padding-bottom: 400px;
} */

/* FOOTER */

footer {
    border-top: solid 6px rgb(248 113 113);
    font-family: 'Oxygen', sans-serif;   
}

/* 404 page */
.rainbow-text {
    background: -webkit-linear-gradient(
        0deg,
        #e30303 0%,
        #e67e00 19%,
        #e6d600 39%,
        #00e642 60%,
        #0047e6 80%,
        #bd0bdb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
